.button {
    -fx-background-color: rgb(255, 203, 203);
    -fx-border-color: rgb(100,100,100);
     -fx-background-radius: 10;
     -fx-border-radius: 10;
}
.button:hover {
    -fx-background-color: rgb(255, 128, 0);
}

.button:pressed {
    -fx-background-color: rgb(255, 203, 203);
}

